{% extends 'base.html' %} {% block content %}
<section class="vh-100 gradient-custom-2">
  <div class="container py-5">
    <h1 class="mb-4">Task Detail Page</h1>
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Task: {{ task.title }}</h2>
      </div>
      <div class="card-body">
        <p class="card-text">
          <strong>Description:</strong> {{ task.description }}
        </p>
        <p class="card-text"><strong>Status:</strong> {{ task.status }}</p>
        <p class="card-text">
          <strong>Created On:</strong> {{ task.created_at }}
        </p>
        <p class="card-text"><strong>Due Date:</strong> {{ task.due_date }}</p>
        <div class="mt-4">
          <h3 class="mb-3">Actions</h3>
          <a href="{% url 'update' task.id %}" class="btn btn-warning me-2"
            >Update</a
          >
          <a href="{% url 'delete' task.id %}" class="btn btn-danger me-2"
            >Delete</a
          >
          {% comment %}
          <a href="{% url 'create' %}" class="btn btn-primary"
            >Create a new task</a
          >
          {% endcomment %}
        </div>
      </div>
    </div>
    <div class="mt-4">
      <a href="{% url 'list' %}" class="btn btn-secondary">Back to Task List</a>
    </div>
  </div>
</section>
{% endblock content %}
